<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Blog</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<style>
			body {
				background-color: #CCC;
			}
			
			#content {
				background-color: white;
			}
			
			.col-md-3 li a:hover {
				color: black;
			}
			
			.col-md-3 li a {
				border: 0px;
				color: white;
				border-radius: 0px;
				margin-right: 0px;
			}
			
			.col-md-3 ul {
				background-color: rgb(27, 27, 27);
			}
		</style>
	</head>

	<body>

		<div class="container">
			<h1>Django+Bootstrap</h1>
			<nav class="navbar navbar-default navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
						<a class="navbar-brand" href="#">Django-Web</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="#">Hom</a>
							</li>
							<li>
								<a href="#">Blog List</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div id='content' class="container-fluid">
				<div class='col-md-9'>

					<h2>{{current_article.headline}}</h2>
					{{current_article.content}}
					<!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>

					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>

					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>

					<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p> -->
				
				</div>
				<div class="col-md-3">
					<h2>Sidebar</h2>

					<ul class="nav nav-tabs nav-stacked">
						{% for i in articles %}
						<li>
							<a href="/articles/?name={{i.headline}}/">{{i.headline}}</a>
						</li>
						<!-- <li>
							<a href='#'>How to start Bootstrap</a>
						</li>
						<li>
							<a href='#'>First Django Project</a>
						</li>
						<li>
							<a href='#'>Django Model</a>
						</li> -->
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>

</html>